body {

	font-family: "Lato", Arial, sans-serif;
	font-size: 21px;


}

a {
	color: #FFFFFF;
	text-decoration: none;
}

.header {
	background-image: url('../img/bg-header.jpg');
	color: #FFFFFF;
	height: 550px;
	background-size: cover;
}

h1 {
	font-size: 48px;
	font-weight: 300;
	padding-top: 35px;
	display: inline-block;
}

h2 {
	font-size: 38px;
	font-weight: bold;
	text-align: center;

}

p {
	text-align: center;
	padding-top: 35px;
	line-height: 28px;
}




.container {
	width:1000px;
	margin: 0 auto;

}

ul.listmenu{
	float: right;
	margin-top: 55px;
}

ul.listmenu li{
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin-left: 20px;

}

ul.listmenu li a {


	transition:transform .3s ease-in;
	-webkit-transition:transform .3s ease-in;
	-moz-transition:transform .3s ease-in;
}
ul.listmenu li a:hover {



	transition:transform .3s ease-in;
	-webkit-transition:transform .3s ease-in;
	-moz-transition:transform .3s ease-in;
	transform: rotate(360deg);

}


.header-description {
	width: 620px;
	margin: 0 auto;
	padding-top: 135px;
	text-align: center;

}

.button-head {
	display: inline-block;
	margin:50px 0 0 0;
	padding: 0 60px;
	background:#a4b9be;
	font-size: 21px;
	color:#fff;
	height: 61px;
	line-height: 61px;
	text-decoration: none;
	border-radius:3px;
	transition:background .2s ease-in,text-shadow .2s ease-in;
	-webkit-transition:background .2s ease-in,text-shadow .2s ease-in;
	-moz-transition:background .2s ease-in,text-shadow .2s ease-in;


}



.button-head:hover{
	background:#0099cc;
	text-shadow: 0 0 3px #fff9fd;

	transition:background .2s ease-in,text-shadow .2s ease-in;
	-webkit-transition:background .2s ease-in,text-shadow .2s ease-in;
	-moz-transition:background .2s ease-in,text-shadow .2s ease-in;

}

.first-section {
	background-color: #fcfcfc;
}

.first-section h2 {
	color: #535a5e;
	padding-top: 90px;

}
.first-section p {
	color:#9fa4a7;
	font-size: 16px;
}

.main-block {
	text-align: center;
}

.pencil {
	display: inline-block;
	margin: 70px 0 100px 0;
}



.second-section {
	background-color: #a4b9be;
}
.second-section h2{
	color: #f1f1f1;
	padding-top: 90px;
}

.second-section p {
	color: #ffffff;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 60px;

}



.screen {
	background-image: url("../img/screenshot.jpg");
	width: 868px;
	height: 457px;
	margin: auto;

}

.third-section {
	padding-bottom: 80px;
	background-color: #fcfcfc;
}

.third-section h3 {
	color: #535a5e;
	font-size: 30px;
	font-weight: bold;
	padding-top: 85px;
}

.third-section p {
	color: #98a0a5;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 60px;

}

.third-section ul li:first-child {

	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.third-section ul li:last-child {

	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

}

.third-section ul {
	margin-bottom: 20px;
}

.button {
	display: inline-block;
	border-radius: 3px;
	width: 100%;
	min-height: 60px;
	line-height: 60px;
}

.third-section li{
	color: #535a5e;
	font-size: 21px;
	background-color: #dfebdf;
	padding: 25px 0;
	position: relative;

}

.third-section li.bold {
	font-weight: bold;
}

.col-1, .col-2, .col-3 {
	width: 30%;
	float: left;
	margin: 0 1.5%;
}

.col-3 {
	margin-bottom: 50px;
}

.third-section .li-header {
	font-size: 30px;
	font-weight: 300;
	padding: 0;
	color: #e9eef2;
	min-height: 80px;
	line-height: 80px;

}

.third-section .li-header.green {
	line-height: 60px;
}

.li-header i {
	font-size: 16px;
	position: absolute;
	top: 25px;
	left: 105px;



}

.third-section .main-block .black {
	background-color: #535a5e;
	transition:background .2s ease-in,text-shadow .2s ease-in;
	-webkit-transition:background .2s ease-in,text-shadow .2s ease-in;
	-moz-transition:background .2s ease-in,text-shadow .2s ease-in;
}

.third-section .main-block .green {
	background-color: #58ad52;
	transition:background .2s ease-in,text-shadow .2s ease-in;
	-webkit-transition:background .2s ease-in,text-shadow .2s ease-in;
	-moz-transition:background .2s ease-in,text-shadow .2s ease-in;
}

.third-section .main-block .blue {
	background-color: #53a1ad;
	transition:background .2s ease-in,text-shadow .2s ease-in;
	-webkit-transition:background .2s ease-in,text-shadow .2s ease-in;
	-moz-transition:background .2s ease-in,text-shadow .2s ease-in;
}

.third-section .main-block .black:hover {
	background-color: #272c30;
	text-shadow: 0 0 3px #fff9fd;
	transition:background .2s ease-in,text-shadow .2s ease-in;
	-webkit-transition:background .2s ease-in,text-shadow .2s ease-in;
	-moz-transition:background .2s ease-in,text-shadow .2s ease-in;
}

.third-section .main-block .green:hover {
	background-color: #1f8b27;
	text-shadow: 0 0 3px #fff9fd;
	transition:background .2s ease-in,text-shadow .2s ease-in;
	-webkit-transition:background .2s ease-in,text-shadow .2s ease-in;
	-moz-transition:background .2s ease-in,text-shadow .2s ease-in;
}

.third-section .main-block .blue:hover {
	background-color: #1d589a;
	text-shadow: 0 0 3px #fff9fd;
	transition:background .2s ease-in,text-shadow .2s ease-in;
	-webkit-transition:background .2s ease-in,text-shadow .2s ease-in;
	-moz-transition:background .2s ease-in,text-shadow .2s ease-in;
}

.third-section .bottom-p {
	font-size: 15px;
	line-height: 22px;
	margin: 0 315px;
}

.fourth-section {
	padding: 80px 0;
	background-color: #2d3035;
}

.fourth-section h2 {
	color: #f1f1f1;
	font-size: 38px;
	font-weight: bold;
}

.fourth-section p {
	color: #98a0a5;
	margin-right: 250px;
	margin-left: 250px;
	padding-bottom: 60px;

}

#name, #email, #message {
	display: block;
	margin: 0 auto 20px;
	font-family: "Lato", Arial, sans-serif;
	font-size: 17px;
	line-height: 28px;
	padding: 20px;
	background-color: #2d3035;
	border-radius: 5px;
	border: #e9eef2 solid 3px;
	width: 370px;
	transition:background .2s ease-in;
	-webkit-transition:background .2s ease-in;
	-moz-transition:background .2s ease-in;
	color:#98a0a5;
}

#name:focus, #email:focus, #message:focus  {
	background-color: #4d5156;
	transition:background .2s ease-in;
	-webkit-transition:background .2s ease-in;
	-moz-transition:background .2s ease-in;

}

.button-head.foot {

	margin:0 0 40px 0;
	padding: 0;
	width: 415px;
	font-size: 18px;
	color:#2d3035;
	font-weight: bold;


}

.button-head.foot:hover {
	background:#0099cc;

	text-shadow: none;
	transition:background .2s ease-in;
	-webkit-transition:background .2s ease-in;
	-moz-transition:background .2s ease-in;
}

.fa {
	width: 23px;
	height: 23px;
	font-size: 15px;
	background-color: #e9eef2;
	border-radius: 50%;
	color: #2d3035;
	line-height: 23px;
	margin: 0 5px 0 5px;
}

.fa-twitter {
	transition:background .2s ease-in,transform .2s ease-in;
	-webkit-transition:background .2s ease-in,transform .2s ease-in;
	-moz-transition:background .2s ease-in,transform .2s ease-in;

}

.fa-twitter:hover {
	background-color: #32CDFD;
	transition:background .2s ease-in,transform .2s ease-in;
	-webkit-transition:background .2s ease-in,transform .2s ease-in;
	-moz-transition:background .2s ease-in,transform .2s ease-in;
	-moz-transform: scale(1.3,1.3);
	-webkit-transform: scale(1.3,1.3);
	transform: scale(1.3,1.3);
}

.fa-facebook {
	transition:background .2s ease-in,transform .2s ease-in;
	-webkit-transition:background .2s ease-in,transform .2s ease-in;
	-moz-transition:background .2s ease-in,transform .2s ease-in;

}

.fa-facebook:hover {
	background-color: #3C599B;
	transition:background .2s ease-in,transform .2s ease-in;
	-webkit-transition:background .2s ease-in,transform .2s ease-in;
	-moz-transition:background .2s ease-in,transform .2s ease-in;
	-moz-transform: scale(1.3,1.3);
	-webkit-transform: scale(1.3,1.3);
	transform: scale(1.3,1.3);
}

.fa-google-plus {
	transition:background .2s ease-in,transform .2s ease-in;
	-webkit-transition:background .2s ease-in,transform .2s ease-in;
	-moz-transition:background .2s ease-in,transform .2s ease-in;


}

.fa-google-plus:hover {
	background-color: #D44132;
	transition:background .2s ease-in,transform .2s ease-in;
	-webkit-transition:background .2s ease-in,transform .2s ease-in;
	-moz-transition:background .2s ease-in,transform .2s ease-in;
	-moz-transform: scale(1.3,1.3);
	-webkit-transform: scale(1.3,1.3);
	transform: scale(1.3,1.3);
}

.footer {
	background-color: #fcfcfc;
	padding: 65px 0 65px;
	color: #535a5e;
	font-size: 16px;
	font-weight: bold;
}

.footer small {
	float: left;
}

.footer ul.listmenu{

	margin: 0;
}



.footer ul.listmenu li a {

	color:#535a5e;
	transition:color .3s ease-in;
	-webkit-transition:color .3s ease-in;
	-moz-transition:color .3s ease-in;
}
.footer ul.listmenu li a:hover {


	color:#0099cc;
	transition:color .3s ease-in;
	-webkit-transition:color .3s ease-in;
	-moz-transition:color .3s ease-in;
	background-color: #2d3035;
	padding: 70px 0 30px 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;





}